h3.my-top-name {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  color: black;
  margin-bottom: 25px;
}

h3.my-top-name-login {
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
html {
  scroll-behavior: smooth;
}

.newuser {
  margin: 15px 19px 15px 19px;
  display: flex;
}
.padding {
  padding: 32px;
}

.blue-background {
  padding: 10px !important;
  background: lightblue;
}
.MuiTypography-colorTextSecondary {
  color: #0e5779 !important;
  text-align: center;
}
.home-top-bg {
  background-image: url("../../assets/images/home-bg.jpeg");
  background-size: cover;
  background-position: center center;
}
.featur-bg {
  background-image: url("../../assets/images/feature.jpg");
  background-size: cover;
  background-position: center center;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  justify-content: space-between;
}
.home-min-height {
  min-height: 500px;
}
.home-bg {
  background-color: #35477d;
  color: white;
}
header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.home-bg-color.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
  color: black !important;
  background-color: white !important;
}

.stat-underline {
  width: 200px;
  background-color: black;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
}
.icon-border {
  padding: 18px;
  border-radius: 50%;
  border: 2px solid #eee;
  width: 100px;
  margin: 0px auto;
  text-align: center;
}
p.no-margin {
  margin-bottom: 0px;
}
h4.parent-size {
  font-size: 16px;
  word-wrap: break-word;
  margin-bottom: 0px;
  width: 150px;
}
.underline {
  width: 50px;
  background-color: #eee;
  padding: 1px;
  margin: 10px auto;
}
.underline-about {
  width: 100px;
  background-color: black;
  padding: 3px;
  text-align: left;
}
.about-bg {
  background-image: url("../../assets/images/\ logo.png");
  background-size: cover;
  background-position: center center;
  width: 100px;
  height: 100px;
}
.feature-icon {
  font-size: 53px;
  margin-right: 20px;
}
.home-top-margin {
  margin-top: 100px;
}

.save-button {
  margin: 0 auto;
}

.button-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* OG Tool Css */
.initechNode {
  border: solid 3px black;
  border-radius: 3px;
  display: inline-block;
}

.initechNode-info {
  padding: 7px;
  text-align: left;
}

.parent-node {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  border-bottom: 1px solid black;
  padding-right: 5px;
  display: flex;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px black;
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 3px black;
}

.mt4 {
  background-color: white;
  width: 225mm;
  height: auto;
  max-width: 1000mm;
}
.full-width {
  margin: 20px;
  background: white;
}

div#initechOrgChart {
  padding: 40px;
}
.donwload-group {
  padding: 20px;
}

.MuiFormHelperText-contained {
  margin: 8px 4px 0 !important;
}

.tools {
  margin-top: -95px;
  margin-left: 90%;
}
.react-transform-component.TransformComponent-module_container__3NwNd {
  padding: 20px !important;
}
.service-border {
  padding: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.service-border h5 {
  color: #35477d;
}
a.my-top-nave-links {
  color: white;
  font-weight: 600;
  padding: 7px;
  text-decoration: none;
}
a.my-top-nave-links.is-active {
  color: thistle;
}

/* By SHubhangi  ----- Login CSS*/
.my-sign-in-button {
  /* width: 445px; */
  border-radius: 4px;
  margin-top: 27px;
  margin-bottom: 25px;
  color: #fff !important;
  border: 0px !important;
  cursor: pointer;
}
h5.my-sub-text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #555;
}
p.reg-text.text-center {
  font-size: 13px;
  color: #555;
}
a.reg-text-color {
  font-size: 13px;
  margin-left: 4px;
  color: black;
  font-weight: 500;
}
a:hover {
  color: #277cfa;
  text-decoration: none !important;
}
.MuiGrid-grid-md-3 {
  max-width: 28% !important;
  flex-basis: 28% !important;
}
.MuiCardActions-root.my-parent-button.MuiCardActions-spacing {
  margin: 0px 18px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  border-radius: 4px;
  margin-top: 14px;
  margin-bottom: 25px;
  color: #fff !important;
  background-image: -moz-linear-gradient(55deg, #75b2f0 0%, #277cfa);
  background-image: -webkit-linear-gradient(55deg, #75b2f0 0%, #277cfa);
  border: 0px !important;
  cursor: pointer;
}
.MuiButton-root:hover {
  background: none !important;
}
.MuiAppBar-colorPrimary {
  background: #277cfa !important;
}
